<!-- Slide #97 -->
<section class="slide fade-7 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-10-12">
          <h1 class="ae-1 ultraLight">Download Altrove's Mobile App</h1>
          <div class="ae-2">
            <p class="small light fix-9-12">We've made it simple for our clients & potential portfolio companies to communicate with us. Access your project dashboard & live help or pitch to us via our Altrove Innovation APP.</p>
          </div>
          <form action="#">
            <input id="subscribe_email" type="email" value="" name="subscribe-email" id="subscribe-email" placeholder="Your Email" class="input-38" />
            <input type="button" onclick="send_email(this)" class="subscribe button blue" value="Subscribe" />
          </form>
          <!--<a href="#" class="button hollow ae-5"><img src="assets/img/appstore.png" height="50"/></a>
          <a href="#" class="button hollow ae-6"><img src="assets/img/googleplay.png" height="50"/></a>-->
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(assets/img/appbg.jpg)"></div>
</section>


<!-- EXAMPLE: Mailchimp -->
<!-- How to find your Mailchimp URL: http://cl.ly/fWJw -->
<!-- Thanks to Sid Doshi for an awesome jquery plugin: https://github.com/scdoshi/jquery-ajaxchimp -->

<!-- (1) Copy scripts -->
<script src="http://cdn.rawgit.com/scdoshi/jquery-ajaxchimp/master/jquery.ajaxchimp.min.js"></script>
<script>
  $(function() {
    $('#subscribe').ajaxChimp({
      url: '//designmodo.us4.list-manage.com/subscribe/post?u=d7b5474e1bff23f08409d4ba9&amp;id=a2ae53acc1',
      callback: function(resp) {
        if (resp.result === 'success') {
          $('#subscribe-label').text("Thank you for your subscription");
        }
      }
    });
  });
</script>

<!-- (2) Copy styles -->
<style>
  .subscribe-message {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    max-width: 462px;
    margin: 0 auto;
    border-radius: 4px;

    /* animation */
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    max-height: 0;
    padding: 0;
    border-width: 0;

    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .subscribe-message a {
    font-weight: 600;
  }

  .subscribe-message.valid,
  .subscribe-message.error {
    -webkit-transform: scale(1);
    transform: scale(1);
    max-height: 132px;
    opacity: 1;
    padding: 14px 20px;
    border: 2px solid;
    margin-top: 20px;
  }
</style>

<section class="slide autoHeight white">
  <div class="content">
    <div class="container">
      <div class="noWrap bottom center margin-top-6 margin-bottom-14">
        <div class="fix-12-12">
          <div class="ae-3">
            <img class="ae-3 fromCenter margin-bottom-2 margin-top-0" src="assets/img/altrove_logo.png" height="50" alt="App 1" />
            <h2 class="ae-1 light margin-bottom-3">Stay Connected with Altrove & Receive Our Newsletter</h2>
          </div>
          <div class="margin-bottom-6">
            <!-- Be sure you keep this form layout as it is. You can change the rest -->
            <form action="#">
              <input id="subscribe_email" type="email" value="" name="subscribe-email" id="subscribe-email" placeholder="Your Email" class="input-38" />
              <input type="button" onclick="send_email(this)" class="subscribe button blue" value="Subscribe" />
            </form>
          </div>
        </div>
      </div>
</section>


<!-- Panel Bottom #14 -->
<nav class="panel bottom forceMobileView blue small">
  <div class="sections desktop">
    <div class="left">
      <ul class="menu crop small light opacity-7">
        <li>Copyright © 2017 Altrove Innovation Sàrl. All rights reserved.</li>
      </ul>
    </div>

    <div class="right">
      <ul class="menu crop small bold opacity-6">
        <li><a href="about_us.html">About</a></li>
        <li><a href="legal.html">Legal</a></li>
        <li><a href="#" class="popupTrigger" data-popup-id="contact">Contact&nbsp;&nbsp;&nbsp;</a></li>
      </ul>
      <ul class="menu crop small bold">
        {% include social.html %}
      </ul>
    </div>
  </div>
  <div class="sections compact hidden">
    <div class="left"><a href="index.html" class="logo"><img src="assets/img/altrove_logo_w.png" alt="Image" height="30" /></a></div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
</nav>

{% include popup_contact_form.html %}

{% include sidebar.html %}
