<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- Page Title -->
<title>Altrove</title>

<!-- Fonts and Material Icons -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Material+Icons" rel="stylesheet" type="text/css"/>


<!-- Styles -->
<link href="assets/css/slides.css" rel="stylesheet" type="text/css">

<!-- Custom Styles -->
<!--link href="css/custom.css" rel="stylesheet" type="text/css"-->

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="js/plugins.js" type="text/javascript" name="plugins"></script>
<script src="js/slides.js" type="text/javascript" name="main-scripts"></script>
<script src="js/email.js" type="text/javascript"></script>

<!-- Custom Scripts -->
<!--script src="js/custom.js" type="text/javascript" name="custom-scripts"></script-->
