<!-- Panel Top #14 -->
<nav class="panel top forceMobileView">
  <div class="sections desktop">
    <div class="left">


      <a href="index.html" class="logoHolder">

        <!-- set your images for bright and dark screens -->
        <img src="assets/img/altrove_logo_w.png" alt="Image" class="whiteLogo" height="30" />
        <img src="assets/img/altrove_logo_b.png" alt="Image" class="blackLogo" height="30" />
      </a>

    </div>
    <div class="right">
      <ul class="menu uppercase">
        <li><a href="index.html">Home</a></li>
        <li><a href="about_us.html">About</a></li>
        <li><a href="process.html">Process</a></li>
        <li><a href="platform.html">Platform</a></li>
        <li><a href="capital.html">Capital</a></li>
      </ul>

      <a href="#" class="button small rounded red text-white margin-top-0 popupTrigger" data-popup-id="login">
        <i class="material-icons" style="vertical-align: -30%">person_pin</i>
        Client Dashboard
      </a>
    </div>


  </div>
  <div class="sections compact hidden">
    <div class="left"><a href="index.html" class="logo"><img src="assets/img/altrove_logo_w.png" alt="Image" height="30" /></a></div>
    <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
  </div>
</nav>

<!-- Popup login Form -->
<div class="popup animated" data-popup-id="login">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="container">
      <div class="wrap spaces">

        <h1 class="ae-1">Dashboard Access</h1>
        <br>
        <div class="fix-5-12 margin-top-0 center">
          <div class="pad shadow selected ae-3">
            <form action="error.html" autocomplete="on" class="wide">
              <input class="wide ae-4 center" id="email43" type="email" name="email" placeholder="Company Email Address" required/>
              <input class="wide ae-6 center" id="password43" type="password" name="password" placeholder="Password" required/>
              <div class="ae-7">
              </div>
              <div class="ae-7">

              </div>
              <a href="error.html" class="button cropBottom wide blue uppercase rounded bold margin-top-3">


                  Log In
                  </a>
              <p class="remind-43 micro opacity-5 popupTrigger" data-popup-id="contact">Account Help</p>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
