<!-- Popup Contact Form -->
<div class="popup animated" data-popup-id="contact">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="container">
      <div class="wrap spaces">

        <div class="fix-5-12 margin-top-0">
          <h1 class="ae-1">Get In Touch</h1>
          <br>
          <div class="popupContent pad shadow selected ae-3">
            <form action="#" id="contact-form" method="post" class="wide center">
              <input id="popup_name" class="stroke ae-5 wide" id="name55" type="name" name="name" placeholder="Name" required/>
              <input id="popup_email" class="stroke ae-7 wide" id="email55" type="email" name="email" placeholder="Email" required/>
              <textarea id="popup_msg" class="left ae-9" id="message55" type="text" name="message" placeholder="Your Message" required></textarea>
              <input onclick="send_message(this)" class="button wide blue ae-10 margin-top-2 cropBottom rounded bold uppercase" type="button" name="submit" value="Send message" />
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
