<!-- Sidebar -->
<nav class="sidebar deepPurple" data-sidebar-id="1">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <a href="index.html" class="logo"><img src="assets/img/altrove_logo_w.png" alt="Image" height="30" /></a>
    <ul class="mainMenu uppercase">
      <li><a href="index.html">Home</a></li>
      <li><a href="about_us.html">About</a></li>
      <li><a href="process.html">Process</a></li>
      <li><a href="platform.html">Platform</a></li>
      <li><a href="capital.html">Capital</a></li>
    </ul>
    <ul class="subMenu">
      <li><a href="legal.html">Legal</a></li>
    </ul>
    <ul class="social">
      {% include social.html %}
    </ul>
  </div>
</nav>
