<!doctype html>
<html>

<head>
  {% include head.html %}
</head>

<body class="slides scroll fast smoothScroll animated">

  {% include misc.html %} {% include nav.html %}



  <!-- Slide #01 -->
  <section class="slide fade-7 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">
          <h1 class="light fix-12-12 ae-5">Introducing Altrove Collaboration Platform</b></h1>
          <div class="ae-2">
            <p class="fix-10-12 center">
              We're with you every step of the way. See your project's latest builds, design files, and live source code & demo so you can watch your project evolve in real-time.
            </p>
          </div>
          <div class="form-8">
            <div class="ae-3">
              <p class="light small">Get started with an introductory <b>Innovation & Strategy</b> meeting.</p>
            </div>
            <form action="#" autocomplete="off">
              <input type="email" class="ae-4 fromCenter" name="user-email" placeholder="Your Name" val="" />
              <input type="email" class="ae-4 fromCenter" name="user-email" placeholder="Your Company" val="" />
              <input type="email" class="ae-4 fromCenter" name="user-email" placeholder="Your Email" val="" />
              <input type="submit" class="button blue ae-7 fromCenter" name="name" placeholder="Name" value="Contact Me" />
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/img-88.jpg)"></div>
  </section>


  <!-- Slide #35 -->
  <section class="slide whiteSlide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 toCenter">
            <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/chat.png" width="70" />
            <div class="ae-2">
              <h1 class="ultraLight">We're There For You 24/7</h1>
              <p class="small light fix-11-12">At Altrove, we believe building a successful product is a collaborative effort. That’s why our whole business is built around getting you to launch your business. Here are some things that make us stand out from the crowd.</p>
            </div>
          </div>

          <img class="margin-top-3" src="assets/img/comm.png" width="autoHeight">

          <div class="fix-12-12">
            <ul class="flex grid-47 margin-top-3 later">
              <li class="col-4-12">
                <div class="fix-3-12 ae-3">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/11.png" height="65" alt="App 1" />
                  <h3 class="small">Specialized Experts</h3>
                  <p class="micro">We craft a team for you, specific to your needs.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-4">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-3" src="assets/img/22.png" height="65" alt="App 1" />
                  <h3 class="small">Start Today</h3>
                  <p class="micro">Our team is ready to get going as soon as you are.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-5">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/33.png" height="65" alt="App 1" />
                  <h3 class="small">Completed On-Time</h3>
                  <p class="micro">Your time is valuable. So we stick to our timelines.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-3">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/44.png" height="65" alt="App 1" />
                  <h3 class="small">Get Market Ready</h3>
                  <p class="micro">We’ll take care of everything you need to launch successfully.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-4">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/55.png" height="65" alt="App 1" />
                  <h3 class="small">Support After Launch</h3>
                  <p class="micro">All bug fixes taken care of for free for 60 days after launch.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-5">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/66.png" height="65" alt="App 1" />
                  <h3 class="small">Detail Oriented</h3>
                  <p class="micro">We clarify, automate, and communicate progress so you never have to worry.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-3">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/77.png" height="65" alt="App 1" />

                  <h3 class="small">Full Transparency</h3>
                  <p class="micro">See the progress from your dashboard.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-4">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/88.png" height="65" alt="App 1" />
                  <h3 class="small">Always Connected</h3>
                  <p class="micro">Contact us at anytime through basecamp, skype, text or by phone.</p>
                </div>
              </li>
              <li class="col-4-12">
                <div class="fix-3-12 ae-5">
                  <img class="ae-3 fromCenter margin-bottom-1 margin-top-5" src="assets/img/99.png" height="65" alt="App 1" />

                  <h3 class="small">Own Your IP</h3>
                  <p class="micro">We sign an NDA before we get started and your IP remains with you.</p>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background:#f4f4f4"></div>
  </section>


  {% include footer.html %}


  <!-- Preloader -->
  {% include preloader.html %}

</body>

</html>
