<!doctype html>
<html>

<head>
  {% include head.html %}
</head>

<body class="slides scroll fast smoothScroll animated">

  {% include misc.html %} {% include nav.html %}


  <!-- Slide #01 -->
  <section class="slide fade-7 kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <h1 class="light fix-12-12 ae-5">World-class Designers & Engineers at Your Service</b></h1>
          <div class="ae-2">
            <p class="fix-11-12 center">Altrove acts as an extension of your tech team, on-demand. Leverage our expertise at any stage of your product cycle through design, development, architecture, prototyping & production.</p>
          </div>
          <div class="form-8">
            <div class="ae-3">
              <p class="light small">Get started with an introductory <b>innovation & strategy</b> meeting.</p>
            </div>
            <form action="#" autocomplete="off">
              <input type="email" class="ae-4 fromCenter" name="user-email" placeholder="Your Name" val="" />
              <input type="email" class="ae-4 fromCenter" name="user-email" placeholder="Your Company" val="" />
              <input type="email" class="ae-4 fromCenter" name="user-email" placeholder="Your Email" val="" />
              <input type="submit" class="button blue ae-7 fromCenter" name="name" placeholder="Name" value="Contact Me" />
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="background" style="background-image:url(assets/img/process_bg.jpg)"></div>
  </section>



  <!-- EXAMPLE: Tabs -->
  <style>
    .pill.controller {
      font-size: 0;
      border: 0px solid;
      display: inline-block;
      border-radius: 6px;
    }

    .pill.controller li {
      padding: 10px 20px;
      display: inline-block;
      border: 1px solid #1194f6;
      font-size: initial;
    }

    .pill.controller li:first-child {
      border-radius: 4px 0 0 4px;
    }

    .pill.controller li:last-child {
      border-radius: 0 4px 4px 0;
    }

    .pill.controller li.selected {
      background: #1194f6;
      color: #fff;
      font-weight: bold;
    }
  </style>



  <!-- Slide #35 -->
  <section class="slide whiteSlide kenBurns">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="fix-12-12 toCenter">
            <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/service.png" width="70" />
            <div class="ae-2">
              <h1 class="ultraLight">Our Process</h1></div>



            <div class="ae-4">
              <p class="small light">Our passion, dedication and your idea blend in elegant customized design that turns your project into success.</p>
            </div>



            <div class="ae-4 fix-12-12">
              <ul class="pill controller margin-bottom-4 margin-top-2" data-slider-id="1">
                <li class="selected">Design</li>
                <li>Architecture</li>
                <li>Engineering</li>
                <li>Manufacturing</li>
              </ul>
            </div>

            <ul class="slider" data-slider-id="1">
              <li class="selected">
                <div class="fix-12-12">
                  <ul class="flex grid-49 later equal left">
                    <ul class="grid fixedSpaces equal left grid-64">
                      <li class="col-4-12 ae-3">
                        <a href="#" class="cell-64 equalElement">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/ux.png" width="50"/>
                          <h3>User Experience</h3>
                          <p class="micro">
                            Our UX designers primarily concern is to define how the product feels. A given design problem has no single right answer. Our UX designers explore many different approaches to solving a specific user problem. The broad responsibility of our UX designer is to ensure that the product logically flows from one step to the next.
                          </p>
                        </a>
                      </li>
                      <li class="col-4-12 ae-4">
                        <a href="#" class="cell-64 equalElement">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/ui.png" width="50"/>
                          <h3>UI & Branding</h3>
                          <p class="micro">
                            Our UX designers and Brand specialists will focus on how the product is laid out and if the message of the brand is passing throughout your digital presence. They are in charge of designing each screen or page with which a user interacts and ensuring that the UI visually communicates the path that a UX designer has laid out and the message that your Brand wants to express.
                          </p>
                        </a>
                      </li>
                      <li class="col-4-12 ae-6">
                        <a href="#" class="cell-64 equalElement last">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/ind.png" width="50"/>
                          <h3>Industrial</h3>
                          <p class="micro">
                            Our team of industrial designers develops the concepts for manufactured products. We have expertise in small appliances, white goods, electronics and toys. We combine art, business, and engineering to make products that people use every day. Contains a high level of realism to fully define product appearance as a perspective view and this is what is in common in all our Industrial designers.
                          </p>
                        </a>
                      </li>
                    </ul>
                  </ul>
                </div>
              </li>


              <li class="hide">
                <div class="fix-12-12">
                  <ul class="flex grid-49 later equal left">
                    <ul class="grid fixedSpaces equal left grid-64">
                      <li class="col-6-12 ae-3">
                        <a href="#" class="cell-64 equalElement">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/cloud.png" width="50"/>
                          <h3>Cloud</h3>
                          <p class="micro">
                            When we refer to Cloud architecture we mostly refer to the Back end, the cloud section of the system. Our Architects can take care of the Servers, databases and middleware. PHP, Python and Ruby are among the languages that our developers can master, but are not limited to. We build the right architecture for your needs.
                          </p>
                        </a>
                      </li>
                      <li class="col-6-12 ae-4">
                        <a href="#" class="cell-64 equalElement">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/systems.png" width="50"/>
                          <h3>Systems</h3>
                          <p class="micro">
                            As Altrove specializes in the combination of hardware and software, the system architecture is a key capability of our structure.  Our systems architects interface with multiple stakeholders in order to understand the various levels of requirements, the domain, the viable technologies, and anticipated development. Our team determines multiple design alternatives based on all identified constraints (cost, schedule, space, power, safety, usability, reliability, maintainability, availability, and so on), selecting the most suitable options for you.
                          </p>
                        </a>
                      </li>
                    </ul>
                  </ul>
                </div>
              </li>





              <li class="hide">
                <div class="fix-12-12">
                  <ul class="flex grid-49 later equal left">
                    <ul class="grid fixedSpaces equal left grid-64">
                      <li class="col-4-12 ae-3">
                        <a href="#" class="cell-64 equalElement">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/software.png" width="50"/>
                          <h3>Software</h3>
                          <p class="micro">
                            Our software Engineers are able to the design, develop, maintain, test, and evaluate the performance of any product developed by us for you. We can develop any type of app, all with the required certifications and with different level of security.
                          </p>
                        </a>
                        </li>
                        <li class="col-4-12 ae-4">
                          <a href="#" class="cell-64 equalElement">
                            <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/hardware.png" width="50"/>
                            <h3>Hardware</h3>
                            <p class="micro">
                              Electro-Mechanical engineering, Food Engineering and Chemical Engineering are at the core of Altrove Innovation since its creation in 2015.Our team of engineer had been involved in the development of very well-known consumer products as Nespresso®, Laurastar®, Nescafé DolceGusto® and much more.  The main target for our team of engineer is to do not create gadgets but intelligent, connected product that fits the IoT revolution in and out of home.
                            </p>
                          </a>
                        </li>
                        <li class="col-4-12 ae-6">
                          <a href="#" class="cell-64 equalElement last">
                            <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/firmware.png" width="50"/>
                            <h3>Firmware</h3>
                            <p class="micro">
                              Firmware engineers are the key component of Altrove Innovation business model. Our senior team, due to a long experience in embedded electronic can integrate software and hardware effortlessly and create the product you had in mind. Our firmware engineers are responsible for the development and implementation of software for industry specific applications and systems. They plan, improve and manage software applications from inception to use.
                            </p>
                          </a>
                        </li>
                      </ul>
                    </ul>
                  </div>
                </li>



              <li class="hide">
                <div class="fix-12-12">
                  <ul class="flex grid-49 later equal left">
                    <ul class="grid fixedSpaces equal left grid-64">
                      <li class="col-4-12 ae-3">
                        <a href="#" class="cell-64 equalElement">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/small.png" width="50"/>
                          <h3>Rapid Prototyping</h3>
                          <p class="micro">
                            In this phase Altrove uses prototyping, rapid prototyping/cnc, sculpture, urethane casting, short run manufacturing, food processing equipment and a wide reange of digital technologies to develop functional prototypes, let them be hardware, software, house appliances (from coffee machines to washing machines), consumer products (comprehensive of food & beverages), or medical devices. We build physical and/or virtual prototypes depending on the scope and convenience.
                          </p>
                        </a>
                      </li>
                      <li class="col-4-12 ae-4">
                        <a href="#" class="cell-64 equalElement">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/pilot.png" width="50"/>
                          <h3>Pilot Launch</h3>
                          <p class="micro">
                            A Pilot is intended to be production quality - albeit on a smaller scale. To reach the pilot phase it is necessary to validate the prototype function and characteristics for production, to minimize risk, to define costs in the product Bill Of Materials (BOM) and production processes, and defined the life cycle of the product. Throughout our knowledge in electro-mechanical engineering, Finite Element Analysis (FEA), food chemistry, digital technologies, product development and so on, we can fulfill all needs of this phase. Altrove and its network of experts have more than a decade of experience in developing pilots for home appliances, food & beverages and digital solutions.
                          </p>
                        </a>
                      </li>
                      <li class="col-4-12 ae-6">
                        <a href="#" class="cell-64 equalElement last">
                          <img class="margin-bottom-1 ae-1 fromCenter" src="assets/img/mass.png" width="50"/>
                          <h3>Mass Production</h3>
                          <p class="micro">
                            We have production capabilities for small and large appliances, food products and have access to chemical labs, virtual spaces and web-based data storage. In collaboration with partners we can produce injection molds, metal folded sheets, polymeric and metallic detailed products throughout different 3d printing technologies.
                          </p>
                        </a>
                      </li>
                    </ul>
                  </ul>
                </div>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>

  </section>




  <!-- EXAMPLE: Fullscreen Slider -->
  <!-- Fullscreen Example -->
  <section class="slide fade-7 kenBurns fullscreenSlider">
    <ul class="slider" data-slider-id="83">
      <li class="selected">
        <div class="content">
          <div class="container">
            <div class="wrap">
              <div class="fix-12-12 toCenter">
                <h1 class="ae-1 ultraLight">Design</h1>
                <div class="ae-2">
                  <p class="small light fix-9-12">
                    Altrove acts as an extension of your tech team, on-demand. Leverage our expertise at any stage of your product cycle through design, development, architecture, prototyping & production.
                  </p>
                </div>
                <a href="#" class="popupTrigger ae-1 button small rounded uppercase blue text-white margin-top-1 margin-bottom-3" data-popup-id="contact">
                  <i class="material-icons" style="vertical-align: -30%">email</i>
                  Contact Us
                 </a>

              </div>
            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(assets/img/design.jpg)"></div>
      </li>
      <li>
        <div class="content">
          <div class="container">
            <div class="wrap">

              <div class="fix-12-12 toCenter">
                <h1 class="ae-1 ultraLight">Architecture</h1>
                <div class="ae-2">
                  <p class="small light fix-9-12">
                    Altrove acts as an extension of your tech team, on-demand. Leverage our expertise at any stage of your product cycle through design, development, architecture, prototyping & production.
                  </p>
                </div>

                <a href="#" class="popupTrigger ae-1 button small rounded uppercase blue text-white margin-top-1 margin-bottom-3" data-popup-id="contact">
                  <i class="material-icons" style="vertical-align: -30%">email</i>
                  Contact Us
                </a>


              </div>

            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(assets/img/code.jpg)"></div>
      </li>
      <li>
        <div class="content">
          <div class="container">
            <div class="wrap">

              <div class="fix-12-12 toCenter">
                <h1 class="ae-1 ultraLight">Engineering</h1>
                <div class="ae-2">
                  <p class="small light fix-9-12">
                    Altrove acts as an extension of your tech team, on-demand. Leverage our expertise at any stage of your product cycle through design, development, architecture, prototyping & production.
                  </p>
                </div>

                <a href="#" class="popupTrigger ae-1 button small rounded uppercase blue text-white margin-top-1 margin-bottom-3" data-popup-id="contact">
                  <i class="material-icons" style="vertical-align: -30%">email</i>
                  Contact Us
                 </a>


              </div>

            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(assets/img/prototype.jpg)"></div>
      </li>
      <li>
        <div class="content">
          <div class="container">
            <div class="wrap">

              <div class="fix-12-12 toCenter">
                <h1 class="ae-1 ultraLight">Manufacturing</h1>
                <div class="ae-2">
                  <p class="small light fix-9-12">
                    Altrove acts as an extension of your tech team, on-demand. Leverage our expertise at any stage of your product cycle through design, development, architecture, prototyping & production.
                  </p>
                </div>


                <a href="#" class="popupTrigger ae-1 button small rounded uppercase blue text-white margin-top-1 margin-bottom-3" data-popup-id="contact">
                  <i class="material-icons" style="vertical-align: -30%">email</i>
                  Contact Us
                </a>


              </div>

            </div>
          </div>
        </div>
        <div class="background" style="background-image:url(assets/img/production.jpg)"></div>
      </li>
    </ul>

    <!-- arrow for navigation -->
    <nav class="side left sliderArrows pointer">
      <div class="navigation">
        <div class="cell">
          <span data-slider-id="83" data-slider-action="prev"><svg class="sideArrow" style="margin-right: -200px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>
        </div>
      </div>
    </nav>
    <nav class="side sliderArrows pointer">
      <div class="navigation">
        <div class="cell">
          <span data-slider-id="83" data-slider-action="next"><svg class="sideArrow" style="margin-left: -200px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>
        </div>
      </div>
    </nav>
  </section>

  <!-- copy styles -->
  <style>
    .scroll .fullscreenSlider {
      min-height: 100vh;
    }

    .scroll .fullscreenSlider .slider .background {
      position: fixed !important;
    }

    .scroll .fullscreenSlider .slider>li {
      overflow-y: scroll;
    }

    .fullscreenSlider>.slider,
    .fullscreenSlider>.slider>li {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
    }
    /* hide side navigation for the fullscreen slider */

    .slides .side {
      -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: opacity 0.5s, transform 0.5s;
    }

    .slides.firstSlide .side:not(.sliderArrows) {
      opacity: 0 !important;
      pointer-events: none;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  </style>

  <script>
    $(function() {
      //start interval for slider #83
      var autoplay = setInterval(function() {
        $('[data-slider-action="next"]').click();
      }, 4000);

      //stop interval on user interaction
      $('[data-slider-action]').on('mousedown touchstart', function() {
        clearInterval(autoplay);
        $('.fullscreenSlider .slider > li').scrollTop(0);
      });
    });
  </script>










  <!-- Slide #75 -->
  <section class="slide whiteSlide">
    <div class="content">
      <div class="container">
        <div class="wrap">

          <div class="ae-2">
            <h1 class="ultraLight">Product Development-as-a-Service</h1></div>



          <div class="ae-4">
            <p class="small light">
              Altrove Innovation expertise is a unique point of interaction between hardware and software.
            <p/>
            <p class="small light">
              Altrove collaboration platform enable you to see your project's latest builds, design files, live source code & demo so you can watch your project evolve in real-time.
            </p>
          </div>

          <div class="fix-12-12">
            <ul class="grid grid-75 masonry noSpaces ae-1 popupTrigger cursorZoomIn" data-popup-id="gallery">
              <li class="col-3-12 ae-1 fromCenter" onclick="$('#carusel').trigger('to.owl.carousel', 6)">
                <img src="assets/img/macbook.jpg" class="wide" alt="Image" />
              </li>
              <li class="col-3-12 ae-2 fromCenter" onclick="$('#carusel').trigger('to.owl.carousel', 5)">
                <img src="assets/img/iphone.jpg" class="wide" alt="Image" />
              </li>
              <li class="col-3-12" onclick="$('#carusel').trigger('to.owl.carousel', 4)">
                <img src="assets/img/proto.jpg" class="wide" alt="Image" />
              </li>
              <li class="col-3-12 ae-3 fromCenter" onclick="$('#carusel').trigger('to.owl.carousel', 0)">
                <img src="assets/img/dashboard.jpg" class="wide" alt="Image" />
              </li>
              <li class="col-3-12 ae-4 fromCenter" onclick="$('#carusel').trigger('to.owl.carousel', 2)">
                <img src="assets/img/ipad.jpg" class="wide" alt="Image" />
              </li>
              <li class="col-3-12 ae-5 fromCenter" onclick="$('#carusel').trigger('to.owl.carousel', 3)">
                <img src="assets/img/watch.jpg" class="wide" alt="Image" />
              </li>
              <li class="col-3-12 ae-6 fromCenter" onclick="$('#carusel').trigger('to.owl.carousel', 1)">
                <img src="assets/img/support.jpg" class="wide" alt="Image" />
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>


  <!-- Popup Gallery -->
  <div class="popup animated" data-popup-id="gallery">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content popupContent">
      <div class="container">
        <div class="wrap padding-0">

          <ul class="owl-carousel cursorGrab" id="carusel">
            <li class="item">
              <div class="table">
                <div class="cell"><img src="assets/img/dashboard.jpg" alt="Image" /></div>
              </div>
            </li>
            <li class="item">
              <div class="table">
                <div class="cell"><img src="assets/img/support.jpg" alt="Image" /></div>
              </div>
            </li>
            <li class="item">
              <div class="table">
                <div class="cell"><img src="assets/img/ipad.jpg" alt="Image" /></div>
              </div>
            </li>
            <li class="item">
              <div class="table">
                <div class="cell"><img src="assets/img/watch.jpg" alt="Image" /></div>
              </div>
            </li>
            <li class="item">
              <div class="table">
                <div class="cell"><img src="assets/img/proto.jpg" alt="Image" /></div>
              </div>
            </li>
            <li class="item">
              <div class="table">
                <div class="cell"><img src="assets/img/iphone.jpg" alt="Image" /></div>
              </div>
            </li>
            <li class="item">
              <div class="table">
                <div class="cell"><img src="assets/img/macbook.jpg" alt="Image" /></div>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>


  {% include footer.html %}


  <!-- Preloader -->
  {% include preloader.html %}

</body>

</html>
